<mat-card class="fullWidth">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false"
      (mapClick)="mapClicked($event)">

      <!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
        [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"> -->
        <agm-marker  (markerClick)="clickedMarker(m.label, i)" [latitude]="location.lat"
        [longitude]="location.lng" [label]="location.label" [markerDraggable]="true" (dragEnd)="markerDragEnd(m, $event)">


        <!-- <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window> -->

      </agm-marker>

      <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </agm-circle> -->

    </agm-map>
  </mat-card-content>
  <mat-card-content>
    <p>
      Map
    </p>
    <form class="example-form">
      <mat-form-field>
        <input name="latitude" matInput placeholder="latitude" [(ngModel)]="location.lat">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input  name="longitude" matInput placeholder="longitude" [(ngModel)]="location.lng">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input  name="label" matInput placeholder="label" [(ngModel)]="location.label">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="Post(location)">POST</button>
    <button mat-button (click)="location={}">NEW</button>
  </mat-card-actions>
</mat-card>