/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.fullWidth {
    width: 100%
} 
.halfWidth {
  width: 50%
}
.clikLink{
  color:#6495ed;
  cursor: pointer;
}
.example-card {
    max-width: 400px;
  }
  agm-map {
    height: 500px;
    width: 50%;
    
  }
  table {
    width: 100%;
  }





  